@import 'vars';

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: $dark-teal;
  color: $light-teal;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'nav main'
    'footer footer';
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;

  & svg {
    display: block;
  }
}

a {
  color: inherit;

  &:hover,
  &:focus {
    color: teal;
  }
}

button:hover svg,
button:focus svg,
a:hover svg,
a:focus svg {
  fill: teal;
}
