@font-face {
  font-family: SyneMono;
  src: url('../../assets/SyneMono.ttf');
}

header {
  padding: 8px 32px;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .logo,
  & .search-bar,
  & .user-bar,
  & .link-bar {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & .logo span {
    font-family: SyneMono, monospace;
    font-size: 2rem;
    text-decoration: underline;
    cursor: default;
  }

  & .search-bar input:focus {
    outline-color: $light-teal;
  }

  & .user-bar .user-btn {
    width: 40px;
    height: 40px;
    outline: 2px solid $light-teal;
    border-radius: 50%;

    &:hover,
    &:focus {
      outline-color: teal;
    }

    &:active {
      outline-color: $pale-teal;
    }
  }

  & .user-bar .user-menu {
    display: none;
    position: absolute;
    top: 64px;
    padding: 8px;
    border: 1px solid;
    background-color: white;
    color: $dark-teal;

    & ul {
      list-style: none;
    }
  }
}
