@font-face {
  font-family: SyneMono;
  src: url('../../assets/SyneMono.ttf');
}

header {
  padding: 8px 32px;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    display: inherit;
    align-items: inherit;
    gap: 8px;
  }

  & span {
    font-family: SyneMono, monospace;
    font-size: 2rem;
    text-decoration: underline;
    cursor: default;
  }

  & input:focus {
    outline-color: $light-teal;
  }

  & .user {
    width: 40px;
    height: 40px;
    outline: 2px solid $light-teal;
    border-radius: 50%;

    &:hover,
    &:focus {
      outline-color: teal;
    }

    &:active {
      outline-color: $pale-teal;
    }
  }
}
