.list {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    align-self: flex-start;
  }

  & p,
  & small {
    margin: 0 0 8px 0;
  }

  & p {
    font-style: italic;
    text-align: center;
  }

  & small {
    font-size: 0.9rem;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  & input {
    align-self: flex-end;
  }

  & table {
    width: 100%;
    margin: 8px 0;
    background-color: $evening-sea;

    & th,
    & td {
      padding: 4px;
    }

    & thead tr {
      background-color: $light-teal;
    }

    & tbody tr {
      background-color: white;
    }

    & tbody tr:hover,
    & tbody tr:focus {
      background-color: $pale-teal;
      cursor: pointer;
    }
  }

  & hr {
    margin: 8px 0;
  }
}
