@import 'normalize';
@import 'colors';
@import 'header';
@import 'nav';
@import 'main';
@import 'footer';
@import 'sign';

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
  background: $dark-teal;
  color: $light-teal;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'nav main'
    'footer footer';
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

input {
  padding: 0 4px;
  color: $dark-teal;
  border: 1px solid currentColor;
  border-radius: 4px;
  outline: 2px solid transparent;
  outline-offset: 1px;
}

button {
  cursor: pointer;

  &.svg {
    border: none;
    background: none;

    & svg {
      display: block;
    }
  }
}

a {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &:hover,
  &:focus {
    color: teal;
  }
}

header a,
nav a,
footer a {
  color: $light-teal;

  &:active {
    color: $pale-teal;
  }
}

header a,
nav a {
  font-size: 1.2rem;
  border-top: 1px solid transparent;

  &.active {
    color: $pale-teal;
    border-color: currentColor;
    text-decoration-color: transparent;
  }
}

button:hover svg,
button:focus svg,
a:hover svg,
a:focus svg {
  fill: teal;
}

header button:active svg,
nav a:active svg,
nav a.active svg,
footer a:active svg {
  fill: $pale-teal;
}
